<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-home bg-c-blue"></i>
                <div class="d-inline">
                    <h5>TASAC Departments</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="card col-xl-12 col-md-6">
@*                        <div class="card-header">
                            <h5 class="card-header-text">TASAC Departments</h5>
                        </div>*@
                        <div class="card-block accordion-block">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingOne">
                                        <h1 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Corporate Services
                                            </a>
                                        </h1>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="accordion-content accordion-desc">
                                            <p style="text-decoration:double">
                                                Provides expertise and services on human resources management and administration, planning, marketing and public relations.
                                                The Directorate comprises of three (3) Sections as follows:
                                                <br />
                                            </p>
                                            <div style="margin-left: 40px;">
                                                <ul style="list-style-type:circle;">
                                                    <li> Human Resource Management and Administration;</li>
                                                    <li>Planning, Monitoring and Evaluation; and</li>
                                                    <li>Marketing and Public Relations</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Shipping Business
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Oversees and provide expertise in carrying out commercially the businesses of clearing and forwarding, shipping agency and ship tallying services
                                                The Directorate comprises of three (3) Sections as follows:
                                            </p>
                                            <div style="margin-left: 40px;">
                                                <ul style="list-style-type:circle;">
                                                    <li>Shipping Agency Services Section;</li>
                                                    <li>Ship Tallying Section; and</li>
                                                    <li>Clearing and Forwarding Section.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingThree">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Maritime Safety, Security and Environment
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides expertise and services on administration and management of maritime safety, security and marine environment
                                                The Directorate comprises of three (3) Sections as follows:
                                            </p>
                                            <div style="margin-left: 40px;">
                                                <ul style="list-style-type:circle;">
                                                    <li>Ships Registration, Survey and Inspection ;</li>
                                                    <li>Seafarers’ Training and Certification ; and</li>
                                                    <li>Navigation Security and Marine Environment.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingFour">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Maritime Transport Regulation
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides advice and expertise on the regulation of maritime transport services (ports and shipping services) in order to enhance compliance with legislation and improve services
                                                The Directorate comprises of two (2) Sections as follows:
                                            </p>
                                            <div style="margin-left: 40px;">
                                                <ul style="list-style-type:circle;">
                                                    <li>Ports Section; and</li>
                                                    <li>Shipping Section</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>