<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-home bg-c-blue"></i>
                <div class="d-inline">
                    <h5>TASAC Units</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="card col-xl-12 col-md-6">
@*                        <div class="card-header">
                            <h5 class="card-header-text">TASAC Units</h5>
                        </div>*@
                        <div class="card-block accordion-block">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingOne">
                                        <h1 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Economic Regulation Unit
                                            </a>
                                        </h1>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="accordion-content accordion-desc">
                                            <p style="text-decoration:double">
                                                Enforces economic regulations and its requirements in the ports, shipping and maritime sub-sectors. It is led by a Director.
                                                <br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Procurement Management Unit
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides expertise and services in procurement, storage and supply of goods and services for the Corporation. It is led by a Head of Unit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingThree">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Finance and Accounts Unit
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Oversees and ensures efficient and effective utilization of financial resources as well as proper applications of financial systems for sustainable operations. It is led by a Director
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingFour">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Internal Audit Unit
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides advisory services to the Accounting Officer in the proper management of resources. It is led by a Head of Unit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingFive">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                ICT and Statistics Unit
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides advisory services to the Accounting Officer in the proper management of resources. It is led by a Head of Unit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class=" accordion-heading" role="tab" id="headingSix">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                Legal Service Unit
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                Provides expertise and legal advice for smooth running of regulatory roles and shipping business. It is led by a Director
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>