@model IEnumerable<User>


  <div class="col-xl-4 col-md-6">
                        <div class="card testimonial-card table-card">
                            <div class="card-header">
                                <h5>Upcomming Birthdays</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="review-block">
                @foreach (var notif in Model)
                {
                <div class="row" style="padding-bottom:2px;">
                                        <div class="col-sm-auto p-r-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#23dd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                        </div><font class=" text-danger" style="font-size:8px;font-weight:bold">Date:@notif.BirthDay/@notif.BirthMonth</font>
                                        <div class="col">
                            <h6 class="m-b-15" style="font-size:10px;text-capitalize;font-weight:bold">@notif.FirstName @notif.LastName   </h6>
                           
                                        
                                             

                                        </div>
                                    </div>
                                    }
                                   
                                </div>
                                <hr>
                                <div class="text-center">
                <a href="/DisplayDetails/DisplayBirthdays" class="b-b-primary text-primary">View all birth days</a>
                                </div>
                            </div>

                        </div>
                    </div>