@model IEnumerable<Permission>
<ul class="pcoded-submenu">
   

     @foreach (var notif in Model)
                {
        <li class=" ">
            <a href="form-elements-component.html" class="waves-effect waves-dark">
                <span class="pcoded-mtext">@notif.PermissionName</span>
            </a>
        </li>
            
                }
                
            }
   @* <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Ongoing Activities</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">News & Event</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Tips Manager</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Quiz Manager</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Articles Manager</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Library</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Documents</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Forms</span>
        </a>
    </li>
    <li class=" ">
        <a href="form-elements-add-on.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Library</span>
        </a>
    </li>
*@

</ul>