@model IEnumerable<Permission>
<ul class="pcoded-submenu">
   
     
     @foreach (var notif in Model)
                {
        <li class=" ">
            <a href="/ContentManager/Index?parameter=@notif.Address" class="waves-effect waves-dark">
                <span class="pcoded-mtext">@notif.PermissionName</span>
            </a>
        </li>
           
                }    
            }
</ul>