@model IEnumerable<ActivitiesDetail>

 @foreach (var notif in Model)
            {
            
<div class="row p-t-10 p-b-30">
    <div class="col-auto text-right update-meta p-r-0">
        <i class="feather icon-activity bg-c-blue update-icon"></i>
    </div>
    <div class="col p-l-5">
            <a href="/DisplayDetails/Index/ActivityCode=@notif.ActivityCode"><h8>@notif.Title</h8></a>
            <p class="text-muted m-b-0">@notif.DepartmentCode</p>
    </div>
</div>
}