@model IEnumerable<NewsEvent>

 @foreach (var notif in Model)
    {
<div class="col p-l-0">
    <h6 class="m-b-5">Previous News & Announcements</h6><hr />
        <h6 class="m-b-0 text-c-red"><p>@notif.Title</p></h6>
        <p>@Html.Raw(@notif.Description) </p>
</div>
    }