@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-message-square  bg-c-blue"></i>
                <div class="d-inline">
                    
                    <h5>Welcome to TASAC Intranet Portal</h5>
                    <span>Tanzania Shipping Agencies Corporation</span>
                  
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                
                <div class="row">

                    <div class="col-xl-12 col-md-12">
                        <div class="card proj-t-card">
                            <div class="card-body">
                                <div class="row align-items-center m-b-30">
                                    <div class="col-auto">
                                        <i class="far fa-calendar-check text-c-blue f-30"></i>
                                        
                                    </div>
                                    
                                    <span>@Html.Raw(@ViewData["Subject"])<br />@Html.Raw(@ViewData["NotificationDetails"])</span>
                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


