@using IntranetPortal.Models.Planning

@{
    Layout = "~/Views/Shared/_StaffMaster.cshtml";
    ViewData["Title"] = "Activity Page";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-home bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Activity Setup</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>Manage Activity</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                        <li><i class="feather icon-trash close-card"></i></li>
                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div id="form">
                                    @(
                                        Html.DevExtreme().DataGrid<Activity>()
                                        .ShowBorders(false)
                                        .DataSource(ds => ds.Mvc()
                                        .Controller("ActivityTemplate")
                                        .InsertAction("AddActivity")
                                        .LoadAction("GetActivities")
                                        .UpdateAction("UpdateActivity")
                                        .DeleteAction("RemoveActivity")
                                        .Key("ActivityTemplateId")
                                        )
                                        .RemoteOperations(true)
                                        .ID("ActivitiesDG")
                                        .Columns(columns =>
                                        {
                                            columns.AddFor(m => m.Code).Caption("Code");
                                            columns.AddFor(m => m.AnnualBudget);
                                            columns.AddFor(m => m.Description).Caption("Description").EncodeHtml(false);
                                            columns.AddFor(m => m.Status);
                                            columns.AddFor(m => m.TargetId).Caption("Target").Lookup(r => r
                                                            .DataSource(ds => ds.Mvc().Controller("Target").LoadAction("GetTargets").Key("Id"))
                                            .ValueExpr("Id")
                                            .DisplayExpr("Code"))
                                            .ValidationRules(r => r
                                            .AddRequired()
                                            .Message("Target Code is required"));
                                            columns.AddFor(m => m.CreatedDate).DataType(GridColumnDataType.Date).Format("dd-MM-yyyy");
                                        })

                                        .MasterDetail(md =>
                                        {
                                            md.Enabled(true);
                                            md.Template(@<text>
                                                <div class="master-detail-caption"><%- data.Code %>'s Activities:</div>
                                                @(Html.DevExtreme().DataGrid<IntranetPortal.Models.ActivitiesDetail>()
                                                .ColumnAutoWidth(true)
                                                .ShowBorders(true)
                                                .Columns(columns =>
                                                {
                                                    columns.AddFor(m => m.Description).EncodeHtml(false);
                                                    columns.AddFor(m => m.ImpelementationStatus);
                                                    columns.AddFor(m => m.Expenditure);
                                                    columns.AddFor(m => m.StartDate);
                                                    columns.AddFor(m => m.EndDate);
                                                    columns.AddFor(m => m.CreatedBy);
                                                })
                                                .DataSource(d => d.Mvc()
                                                .Controller("ActivitiesAPI")
                                                .LoadAction("GetImplementationPerTemplate")
                                                .LoadParams(new { id = new JS("data.Id") })
                                                )
                                                )
                                                </text>);
                                        })

                                        .SearchPanel(f => f.Visible(true))
                                        .Paging(p => p.PageSize(10))
                                        .HeaderFilter(f => f.Visible(true))
                                        .Grouping(g => g.ContextMenuEnabled(true))
                                        .Grouping(g => g.AutoExpandAll(true))
                                        .Selection(s => s.Mode(SelectionMode.Multiple))
                                        .Export(e => e.Enabled(true).FileName("ListofGroups").AllowExportSelectedData(true))
                                        .Editing(e => e
                                        .AllowAdding(true)
                                        .Popup(p => p
                                        .Title("Add New Activity")
                                        .ShowTitle(true)
                                        .Width(1000)
                                        .Height(500)
                                        )

                                        .AllowUpdating(true)
                                        .AllowDeleting(true)
                                        .Mode(GridEditMode.Popup)
                                        .UseIcons(true)

                                        .Form(f => f
                                        .ID("objectives-form")
                                        .ColCount(1)
                                        .Items(items =>
                                        {
                                            items.AddGroup().ColCount(2).Items(groupItem =>
                                            {
                                                groupItem.AddSimpleFor(m => m.Code);
                                                groupItem.AddSimpleFor(m => m.AnnualBudget);
                                                groupItem.AddSimpleFor(m => m.TargetId);
                                                groupItem.AddSimpleFor(m => m.Status).Editor(e => e
                                            .SelectBox()
                                            .DataSource(new[]
                                            {
                                                "Active",
                                                "Inactive"
                                            }));
                                                items.AddSimpleFor(m => m.Description).Editor(e => e
                                            .HtmlEditor()
                                            .Height(170)
                                            .Toolbar(toolbar => toolbar.Items(
                                            items =>
                                            {
                                                items.Add().FormatName(HtmlEditorToolbarItem.Bold);
                                                items.Add().FormatName(HtmlEditorToolbarItem.Italic);
                                                items.Add().FormatName(HtmlEditorToolbarItem.Underline);
                                                items.Add().FormatName(HtmlEditorToolbarItem.BulletList);
                                                items.Add().FormatName(HtmlEditorToolbarItem.AlignJustify);
                                                items.Add().FormatName(HtmlEditorToolbarItem.IncreaseIndent);
                                            })
                                            ));
                                            });
                                        }).FormData(Model)
                                        )
                                        )
                                        )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
